<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let it of listaObjetos">
    <ion-item [routerLink]="it.getEnlace()">
      <ion-label>{{it.getNombre()}}</ion-label>
      <ion-icon slot="start" [name]="it.getIcono()"></ion-icon>
    </ion-item>
  </ion-list>
  <div id="container">
    <strong>esto es strong </strong>
    <p>
      esto es p<a target="_blank" rel="noopener noreferrer" href="pagina.com"
        >esto es enlace</a
      >
    </p>
  </div>
</ion-content>
